@charset "UTF-8";
/* Image */
#rem-container .rem-unit-container {
    background: #FFFFFF;
    max-width: 1024px;
    margin: 30px auto;
}
#rem-container #carousel-unit {
    max-height: 400px;
    max-width: 1024px;
    margin: 0 auto;
}
#rem-container #carousel-unit img {
    width: 100%;
    max-height: 400px;
    max-width: 1024px;
    object-fit: cover;
}
#rem-container .carousel-control {
    color: #FFFFFF !important;
}
/* info container */
#rem-container .rem-unit-info-contact-container {
    padding-right: 30px;
}
#rem-container .rem-unit-info-container {
    padding-right: 0px;
}
#rem-container .rem-unit-info {
    padding: 30px;
}
#rem-container .rem-unit-title {
    font-size: 36px;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}
#rem-container .rem-unit-price {
    margin-top: 20px;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 26px;
}
#rem-container .rem-unit-sub-title, #rem-container .rem-unit-description {
    margin-top: 20px;
}
#rem-container .rem-unit-sub-title {
    font-size: 18px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}
#rem-container .margin-right-30 {
    margin-right: 30px !important;
}
#rem-container .rem-unit-sub-title, #rem-container .rem-unit-description {
    margin-top: 20px;
}
#rem-container .rem-unit-description {
    font-size: 15px;
}
#rem-container .features {
    font-size: 0.9em;
}
#rem-container .features .feature-title {
    font-size: 16px;
    font-family: "Open Sans SemiBold", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    margin-top: 30px;
    font-weight: bold;
}
#rem-container .margin-bottom-10 {
    margin-bottom: 10px !important;
}
[class^="col-md-"] {
    min-height: 24px;
}
#rem-container .features label {
    margin-right: 10px;
    font-weight: normal;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
}
.rem-inline-block {
    display: inline-block;
}
.rem-tag {
    background: #B8BDC1;
    color: #FFFFFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-right: 2px;
}
#rem-container .features .fa-check {
    color: #029F56;
}
/* Contact container */
#rem-container .rem-unit-contact-container {
    padding-left: 0px;
}
#rem-container .rem-form {
	background: #FFF;
	border-top: 4px solid #AA4D93;
	max-width: 600px;
	margin: 30px auto;
	padding: 30px;
}
#rem-container .rem-unit-contact-title {
	display: block;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
	font-size: 1.4em;
	margin-bottom: 30px;
}
#rem-container .rem-unit-contact-agent-container {
	position: relative;
	margin: 0 auto 30px auto;
}
#rem-container .rem-unit-contact-agent {
	text-align: center;
	padding: 0;
	display: block;
}
#rem-container figure {
	margin: 0;
}
#rem-container article, #rem-container figcaption, #rem-container figure {
	display: block;
}
#rem-container .rem-unit-contact-agent-wrapper {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #FFF;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin: auto;
}
#rem-container .rem-unit-contact-agent-wrapper img {
	width: 70px;
	height: auto;
}
#rem-container .rem-unit-card-agent-photo {
	width: 60px;
	height: 80px;
}
#rem-container .margin-top-30 {
	margin-top: 30px !important;
}
#rem-container .btn-primary, #rem-container .btn-primary:focus, #rem-container .btn-primary:active, #rem-container .btn-primary:disabled, #rem-container .btn-primary:disabled:focus, #rem-container .btn-primary:disabled:active {
	background: #AA4D93 !important;
}
/* Paginator */
#rem-container .pagination > li > a, #rem-container .pagination > li > span {
	color: #AA4D93;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #777777;
	background-color: #ffffff;
	border-color: #dddddd;
	cursor: not-allowed;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.428571429;
	text-decoration: none;
	color: #337ab7;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px;
}
#rem-container .pagination > .active > a, #rem-container .pagination > .active > span, #rem-container .pagination > .active > a:hover, #rem-container .pagination > .active > span:hover, #rem-container .pagination > .active > a:focus, #rem-container .pagination > .active > span:focus {
	color: #FFF;
	background: #AA4D93;
	border-color: #AA4D93;
}
/* list and map button */
#rem-container .margin-top-20 {
	margin-top: 20px !important;
}
#rem-container #type-list {
	margin-right: 40px;
}
#rem-container .type-listing.selected {
	color: #AA4D93;
}
#rem-container .type-listing {
	cursor: pointer;
	color: #999;
}
